<%= render 'shared/flash_messages' %>

<div class="container-fluid">
  <h2>ユーザー情報編集</h2>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#user-base" class="nav-link active" data-toggle="tab">基本情報</a>
    </li>
    <li class="nav-item">
      <a href="#user-site" class="nav-link" data-toggle="tab">リンク</a>
    </li>
    <li class="nav-item">
      <a href="#user-team" class="nav-link" data-toggle="tab">チーム</a>
    </li>
    <li class="nav-item">
      <a href="#user-language" class="nav-link" data-toggle="tab">言語</a>
    </li>
    <li class="nav-item">
      <a href="#user-learning" class="nav-link" data-toggle="tab">学習</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="user-base" class="tab-pane active">
      <%= form_with model: @user do |form| %>
        <div class="form-group pt-2">
          <%= form.label :name, class: 'control-label' %>
          <% if @user.email == 'guest@example.com' %>
            <%= form.text_field :name, class: 'form-control my-nickname', maxlength: '40', disabled: 'disabled' %>
          <% else %>
            <%= form.text_field :name, class: 'form-control my-nickname', maxlength: '40' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= form.label :image, class: 'control-label' %>
          <%= form.file_field :image, class: 'form-control-file' %>
        </div>

        <div class="form-group">
          <%= form.label :content, class: 'control-label' %>
          <%= form.text_area :content, class: 'form-control', rows: 5, maxlength: '2000' %>
        </div>

        <div class="form-group">
          <%= form.submit '基本情報を更新する', class: 'btn btn-primary btn-block', id: 'user-basis-button' %>
        </div>
      <% end %>
    </div>

    <div id="user-site" class="tab-pane">
      <%= form_with model: @user, id: 'site-form' do |form| %>
        <table class="table">
          <%= form.fields_for :sites do |site_form| %>
            <tr>
              <td class="site_name">
                <div class="input-group">
                  <%= site_form.text_field :name, class: "form-control site_form site_name", list: 'site_list', placeholder: 'サイト名', maxlength: '30' %>
                  <span class="clear-button"><i class="far fa-times-circle"></i></span>
                </div>
              </td>
              <td class="site_url">
                <div class="input-group">
                  <%= site_form.text_field :url, class: "form-control site_form site_url", placeholder: 'URL', maxlength: '300', pattern: '^|http[s]?:\/\/[\w-]+\.[\w-]+.*$' %>
                  <span class="clear-button"><i class="far fa-times-circle"></i></span>
                </div>
              </td>
            </tr>
          <% end %>
          <datalist id="site_list">
            <option value="Twitter">
            <option value="Facebook">
            <option value="GitHub">
            <option value="Qiita">
            <option value="YouTube">
            <option value="ブログ">
            <option value="ホームページ">
          </datalist>
        </table>
        <div class="form-group">
          <%= form.submit 'リンクを更新する', class: 'btn btn-primary btn-block', id: 'site-button' %>
        </div>
      <% end %>
    </div>
    <div id="user-team" class="tab-pane">
      <%= form_with model: @user, local: true do |form| %>
        <%= form.label :teams, class: 'control-label' %>
        <ul>
          <% @user.teams.each do |team| %>
            <li>
              <%= team.name %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div id="user-language" class="tab-pane">
    </div>
    <div id="user-learning" class="tab-pane">
    </div>
  </div>
</div>