<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <span class="navbar-brand">TeamDev Challenges</span>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
      <span class="mr-auto"></span>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown active">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown_team" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-users"></i> チーム
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown_team">
              <%= link_to '参加チーム状況', root_path, class: 'dropdown-item' %>
              <%= link_to 'チーム検索', root_path, class: 'dropdown-item' %>
              <%= link_to '新規チーム作成', root_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown_user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> ユーザー
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown_user">
              <%= link_to 'ユーザー一覧', users_path, class: 'dropdown-item' %>
              <%= link_to 'ユーザー情報', user_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'ユーザー編集', edit_user_path(current_user), class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown_option" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-network-wired"></i> オプション
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown_option">
              <%= link_to "トップページ", root_path, class: 'dropdown-item' %>
              <%= link_to "協力者募集", homes_recruitment_path, class: 'dropdown-item' %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item', id: 'menu_sign_out' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown active">
            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown_option" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-network-wired"></i> オプション
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown_option">
              <%= link_to "トップページ", root_path, class: 'dropdown-item' %>
              <%= link_to "TeamDev Challengesとは", homes_about_path, class: 'dropdown-item' %>
              <%= link_to "協力者募集", homes_recruitment_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_registration_path, class: 'nav-link', id: 'menu_sign_up' do %>
              <i class="fa fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_session_path, class: 'nav-link', id: 'menu_sign_in' do %>
              <i class="fa fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>