<header>
  <nav class="navbar navbar-expand-sm navbar-light">
    <%= link_to 'Team DevChallenges', root_path, class: 'navbar-brand' %>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
      <span class="mr-auto"></span>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown active">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-users"></i> チーム
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to '参加チーム状況', root_path, class: 'dropdown-item' %>
              <%= link_to 'チーム検索', root_path, class: 'dropdown-item' %>
              <%= link_to '新規チーム作成', root_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> ユーザー
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'ユーザー一覧', root_path, class: 'dropdown-item' %>
              <%= link_to 'ユーザー情報', root_path, class: 'dropdown-item' %>
              <%= link_to 'ユーザー編集', root_path, class: 'dropdown-item' %>
              <!--            <div class="dropdown-divider"></div>-->
            </div>
          </li>
          <li class="nav-item dropdown active">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-network-wired"></i> オプション
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "協力者募集", home_recruitment_path, class: 'dropdown-item' %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown active">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-network-wired"></i> オプション
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Team DevChallengesとは", home_about_path, class: 'dropdown-item' %>
              <%= link_to "協力者募集", home_recruitment_path, class: 'dropdown-item' %>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_registration_path, class: 'nav-link' do %>
              <i class="fa fa-user-plus"></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_session_path, class: 'nav-link' do %>
              <i class="fa fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>